[Unit]
Description=Meal Scamp SvelteKit
After=network.target

[Service]
WorkingDirectory=/home/tibo/r/meal-scamp
ExecStart=/usr/bin/node www/index.js
Environment=PORT=3003
Environment=NODE_ENV=production
Restart=always
RestartSec=5
User=tibo
Group=tibo

[Install]
WantedBy=multi-user.target
